/.vs
/bin
/obj
appsettings.json
appsettings.Development.json
/.history
/.idea
*.sln.dotsettings.user
/Domain/bin
/Domain/obj
/Infrastructure/bin
/Infrastructure/obj
/SeniorConnect/bin
/SeniorConnect/obj
/Web/bin
/Web/obj